body {
	background-color: #171717;
	font-family: "Century Gothic";
	margin: 0;
}

h1 {
	color: white;
	margin: 0;
	margin-left: 20px;
}
/*Spinner */

.centrado {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.oculto {
	overflow: hidden;
}

.lds-ring {
	display: inline-block;
	position: relative;
	width: 80px;
	height: 80px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 64px;
	height: 64px;
	margin: 8px;
	border: 8px solid #fff;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*                 HEADER                  */

header {
	z-index: 99;
	background-color: #171717;
	position: fixed;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid #6f1db9;
}

header img {
	width: 20px;
	height: auto;
	transition: 0.2s;
}

.logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#barra {
	position: absolute;
	width: 20px;
	height: 20px;
	left: 30px;
	cursor: pointer;
}

#barra:hover {
	filter: invert(24%) sepia(91%) saturate(2378%) hue-rotate(261deg)
		brightness(70%) contrast(112%) drop-shadow(0 0 5px rgba(136, 33, 226, 1));
}

.logo img {
	width: 80px;
}

.links {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.links img:hover {
	cursor: pointer;
	filter: invert(24%) sepia(91%) saturate(2378%) hue-rotate(261deg)
		brightness(70%) contrast(112%) drop-shadow(0 0 5px rgba(136, 33, 226, 1));
}

.links li {
	margin: 0px;
	margin-left: 10px;
	margin-right: 10px;
}

.links li a {
	margin: 0;
}

main {
	padding-top: 40px;
	color: white;
}

nav {
	display: none;
}

.verse {
	display: flex;
	flex-direction: column;
	margin-top: 75px;
	z-index: 99;
	background-color: rgba(23, 23, 23, 0.9);
	position: fixed;
	height: 100vh;
	width: 15%;
	color: white;
}

.verse li {
	text-decoration: none;
	list-style: none;
	margin-top: 20px;
	transition: 0.5s;
	cursor: pointer;
	border-bottom: 2px solid rgba(23, 23, 23, 0.9);
	width: fit-content;
}

.verse li:hover {
	border-bottom: 2px solid #6f1db9;
}

.verse h3 {
	margin-left: 40px;
}

.verse a {
	text-decoration: none;
	color: white;
}

.logo {
	width: 150px;
	display: flex;
	justify-content: flex-end;
}

.recomendaciones {
	width: 82.5%;
	height: auto;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
}

.buscador form {
	display: flex;
}

#provider-json {
	margin-top: 10px;
	width: 600px;
}

#buscar {
	top: 15px;
	right: 30px;
	position: relative;
	width: 20px;
	height: 20px;
	transition: 0.2s;
	filter: invert(84%) sepia(11%) saturate(2378%) hue-rotate(261deg)
		brightness(70%) contrast(112%);
}

#buscar:hover {
	filter: invert(24%) sepia(91%) saturate(2378%) hue-rotate(261deg)
		brightness(70%) contrast(112%) drop-shadow(0 0 5px rgba(136, 33, 226, 1));
}

.perfil {
	width: 30%;
	height: 103vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	-webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.41);
	box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.41);
}

.Avatar {
	margin-top: 10px;
	border-radius: 100%;
	width: 150px;
	height: 150px;
	position: relative;
}

.file-select {
	position: relative;
	display: inline-block;
	transition: 0.3s;
}

.file-select::before {
	background-color: #6f1db9;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	content: "Cambiar avatar";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 12px;
}

h1 {
	margin: 0;
}

.file-select input[type="file"] {
	opacity: 0;
	width: 200px;
	height: 32px;
	display: inline-block;
	cursor: pointer;
}

#submit {
	display: none;
}

.file-select:hover {
	transform: scale(1.1);
}

#Nombre {
	background: transparent;
	outline: transparent;
	border: none;
	font-size: 30px;
	color: white;
	text-align: center;
	width: min-content;
}

#pen {
	width: 20px;
	height: auto;
	cursor: pointer;
	transition: 0.3s;
}

#pen:hover {
	transform: scale(1.2);
}

#name-form {
	display: flex;
	align-items: center;
}

main {
	display: flex;
}

/* FORMULARIO DE CATEGORIAS */
.btn-neon {
	background-color: #6f1db9;
	color: white;
	border: none;
	border-radius: 12px;
	padding: 8px 20px;
	text-decoration: none;
	margin-top: 20px;
}

.btn-neon:hover {
	transform: scale(5);
}

.overlay {
	z-index: 99;
	background: rgba(0, 0, 0, 0.3);
	-webkit-backdrop-filter: blur(15px);
	backdrop-filter: blur(15px);
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
}

.overlay h3 {
	text-shadow: 4px 2px #6f1db9;
}

.overlay.active {
	visibility: visible;
}

.popup {
	background: rgba(20, 20, 20, 0.5);
	box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
	border-radius: 6px;
	padding: 20px;
	text-align: center;
	width: 900px;
	opacity: 0;
	transition: 0.3s ease all;
	transform: scale(0.7);
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	color: #bbbbbb;
	transition: 0.7 ease;
}

.popup .btn-cerrar-popup:hover {
	color: #000000;
	cursor: pointer;
}

.popup.active {
	opacity: 1;
	transform: scale(1);
}

.popup a {
	color: #6f1db9;
}

.popup h3 {
	margin: 12px;
	font-size: 40px;
	opacity: 0;
}

.popup h4 {
	color: #c4c4c4;
	text-decoration: none;
	margin-top: 20px;
	font-size: 20px;
	margin: 12px;
	opacity: 0;
	border-bottom: 1px solid #6f1db9;
	width: max-content;
	margin-right: auto;
	margin-left: auto;
}

.popup.active h3 {
	animation: entradaTitulo 0.7s ease 0.3s forwards;
}

.popup.active h4 {
	animation: entradaSubtitulo 0.7s ease 0.3s forwards;
}

.popup.active .categorias {
	animation: entradaInputs 1s ease 1s forwards;
}

.popup.active .btn-submit {
	opacity: 0;
	animation: entradaSubtitulo 1.5s ease 1.5s forwards;
}

@keyframes entradaTitulo {
	from {
		transform: translateY(-25px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		transform: translateY(25px);
		opacity: 0;
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaCategorias {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.categorias {
	display: flex;
	justify-content: center;
}

.container {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: center;
	align-items: center;
}

.item-registro {
	cursor: pointer;
	position: relative;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	flex-grow: 0;
	max-width: 100%;
	margin: 10px;
	width: 150px;
	height: 150px;
	border: 2px solid white;
	transition: 0.5s;
}

.item-registro:hover {
	border: 2px solid #6f1db9;
}

.seleccionado {
	border: 2px solid #6f1db9;
	transform: scale(1.05);
}

.seleccionado .capa {
	display: flex;
	justify-content: center;
	align-items: center;
}

.capa {
	display: none;
	transition: 1s;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.capa h1 {
	font-size: 30px;
	text-shadow: 4px 2px #6f1db9;
}

.item {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
}

.formcontainer span {
	margin: 0;
	height: 30px;
}

span p {
	margin: 0;
	color: red;
}

.item-registro:hover > .capa {
	transition: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
}

.btn-submit {
	margin-top: 12px;
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	letter-spacing: 4px;
	font-size: 24px;
	background-color: transparent;
	color: white;
	text-decoration: none;
	overflow: hidden;
	transition: 0.2s;
	border: none;
	cursor: pointer;
	border-radius: 6px;
	height: 60px;
}

.btn-submit:hover {
	background: #6f1db9;
	box-shadow: 0 0 10px #6f1db9, 0 0 40px #6f1db9, 0 0 80px #6f1db9;
}

.popup.active a:hover {
	text-shadow: 1px 1px 2px #6f1db9;
}

.valorcategoria {
	display: none;
}

.derecha {
	width: 70%;
	padding-top: 50px;
	height: 86.5vh;
}

.derecha h1 {
	width: fit-content;
	margin-left: 40px;
	border-bottom: 2px solid #6f1db9;
}

.libro {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.libro:hover > img {
	border: 2px solid #6f1db9;
}

.glider-contain {
	margin-top: 10px;
	width: 90%;
}

.glider-contain button:hover {
	filter: invert(24%) sepia(91%) saturate(2378%) hue-rotate(261deg)
		brightness(70%) contrast(112%) drop-shadow(0 0 5px rgba(136, 33, 226, 1));
}

.glider img {
	border-radius: 6px;
	height: 220px;
	width: 155px;
	justify-content: center;
	border: 2px solid white;
	transition: 0.3s;
}

.Valoracion {
	width: 82.5%;
	height: auto;
	margin-top: 30px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

.cartel {
	display: none;
	transition: 0.5s;
}

.cartel h3 {
	margin-top: 3rem;
	font-size: 18px;
}

.cartel p {
	font-size: 14px;
}

.libro:hover > .cartel {
	width: 155px;
	border-radius: 6px;
	height: 220px;
	top: 2px;
	background: rgba(0, 0, 0, 0.7);
	-webkit-backdrop-filter: blur(3px);
	backdrop-filter: blur(3px);
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.botonCategorias {
	transition: 0.3s;
}

.botonCategorias:hover {
	transform: scale(1.1);
}

#cambiarEmail {
	margin-top: 35px;
}

.contenido {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.contenido input {
	margin-top: 20px;
	border: none;
	border-bottom: 1px solid #6f1db9;
	font-size: 16px;
	width: 335px;
	height: 40px;
	background: rgba(23, 23, 23, 0.6);
	outline: none;
	color: white;
	border-radius: 12px;
}

#cambiarPassword {
	margin-top: 35px;
}

.Error {
	padding: 20px;
	border-bottom: 2px solid red;
}

#btn-continuar {
	margin-top: 50px;
}
.botones {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 40%;
}
.form-error {
	background-color: red;
	width: 100%;
	margin-top: 35px;
}

.form-error p {
	color: white;
	font-size: 24px;
	text-align: center;
}
#Exito {
	background-color: green;
	width: 100%;
	margin-top: 35px;
}
#Exito p {
	text-align: center;
	color: white;
	font-size: 24px;
}
